
.sticky__heading{
    text-align: center;
    color: var(--secondary-700);
    font-size: 2.4rem;
    font-weight: 700;
}

#sticky-notes-container{
    display: flex;
    padding: 2rem ;
    border: 2px solid gray;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 2rem;
 
}

.sticky__card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    /* border: 2px solid palevioletred; */
    border-radius: 0.5rem;
    min-width: 320px;
    max-width: 320px;
    min-height: 300px;
    max-height: 300px;
    /* background-color: #F3F5F7; */
    background-color: var(--primary-100);
    overflow: auto;
}


.card__footer{
    display: flex;
    justify-content: space-between;
}

.edit-note-btn{
    /* background-color: var(--primary-500); */
    background-color: var(--primary-100);
    color: white;
    border-radius: 0.5rem;
    padding: 0rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    
}

.edit-note-icon{
    height: 30px;
    width: 30px;
}

.delete-note-icon{
    height: 22px;
    width: 22px;
}
.note-date{
    font-size: 1.5rem;
    color: var(--secondary-400);
    font-weight: 700;
}


.card__heading{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-500);
    outline: none;
}

.note-area{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-300);

    outline: none;

}

.note-btns{
    display: flex;
}

#add-note{
    background-color: var(--primary-500);
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 37px;
    font-weight: 700;
}


.card-footer-add{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--primary-500);
    color: white;
    padding: 1rem;
}